*{
    margin: 0%;
    padding: 0%;
    
}
html{
    scroll-behavior: smooth;
}
.container{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: -10px;

}
.navbar{
    background-color: black;
    text-align: end;
    justify-content: space-between;
    font-size: 2rem;
    position: sticky;
    top: 0%;
}
ul{
    color: whitesmoke;
}
a:link {
    color: beige;
    text-decoration:none;
    margin-left: 1rem;
}
a:hover{
    color: red;
}
a:active{
    font-size: 1.5rem;
    animation: 0.5s;
    color: beige;
}
a:visited{
    color: beige;
    margin-left: 1rem;
    text-decoration: none;
}

/*1st page ko lagi*/
#Home_page{
    position: relative;
    display: flex;
    height: 90%;
    transform-style: preserve-3d;
    z-index: -1;
}
header{
    position: relative;
    display: flex;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    transform: translateZ(-10px) scale(2);
    
}

.background,
.foreground{
    position:absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;

}
.foreground{
    height: 45rem;
    width: 33rem;
    margin-left: 5rem;
}
.Greeting{
    color: whitesmoke;
    text-shadow: 0 0 0.2rem black;
    font-size: 5rem;
    width: 50%;
    height: 5rem;
    margin-left: 40rem;
    margin-top: 9rem;
    text-decoration-style: double;
    text-align: center;


}
/*2nd page ko lagi*/
#About_Me{
    font-size: 2rem;
    background-color: #333;
    color: beige;
    padding: 2rem;

}
h3{
    text-align: start;
    margin-left: 2rem;
}
/*3rd page ko lagi */
#My_projects{
    position: relative;
    display: flex;
    height: 90%;
    transform-style: preserve-3d;
    z-index: -1; 
    background-image: linear-gradient(black, #022E44);
    display: flex;
    flex-wrap: wrap;
}
.Projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 9rem;
}
.project{
     display: inline-block;
      margin-bottom: 1rem;
      color:whitesmoke;
      height:17.3rem;
      width: 17rem;
      background-color: #333333;
      transition: height 1s,width 2s;
}
.project:hover{
    height: 18em;
    width: 18em;
}

/*4th page ko lagi */
#More_about{
    position: relative;
    display: flex;
    height: 90%;
    transform-style: preserve-3d;
    z-index: -1; 
    background-image: linear-gradient(black,#022537);
}

#More_about h1{
       color: beige;
       font-size: 5rem;
       padding-top: 3rem;
       text-align: center;
       padding-bottom: 2rem;
        
}
#More_about h4{
    margin-left: 0.5rem;
    font-size: 2rem;
}
.Mail_bot{

    color: beige;
    font-size: 4rem;
}
.details{
    color: beige;
    margin-top:2rem;
    margin-left: 4rem;
    margin-right: 10rem;
}


.footer{
    bottom: 0%;
    height: 2rem;
    background-color: black;
    font-size: 1rem;
    color: blanchedalmond;
    text-align: center;
    justify-content:last baseline;
}